@font-face {
  font-family: 'Falls Cipher';
  src: url('FallsCipher-Regular.woff2') format('woff2'),
       url('FallsCipher-Regular.otf') format('opentype'),
       url('FallsCipher-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Example usage */
.falls-cipher {
  font-family: 'Falls Cipher', sans-serif;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
} 

.convo {
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-size: 11rem;
}

header h2 {
    color:red;
}

header {
    text-align: center;
}

header h3 {
    font-size: 2.5rem;
}

.row {
    background-color: darkgray;
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.paragraph {
    
}

.obfuscated {
    font-family: 'Falls Cipher', sans-serif;
}

img.row {
    max-width: 500px;
    height: auto;
}

p {
    font-size: 2.5rem;
}